$svg-color-grey: #747373;
$primary-color: #03c9d7;
$secondary-color: #fb9678;
$third-color: #262626;
$bg-color: #fafbfb;
$bg-hover-color-gray: #f7f7f7;
$bg-hover-color-blue: #05b2bd;
$text-color: #ffff;
