@use "../../../styles/global/variable" as v;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");
.sidenav {
  box-shadow: rgba(33, 124, 216, 0.11) 0px 7px 30px 0px;
  &::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    transition: all 0.9s ease;
  }
  &:hover {
    &::-webkit-scrollbar {
      width: 7px;
      transition: all 0.9s ease;
    }
  }
  .sidenav-menu-group {
    .sidenav-menu-heading {
      font-size: 0.875rem;
      font-family: "DM Sans", sans-serif;
      line-height: 1.57;
      font-weight: 500;
      opacity: 0.4;
    }
    .sidenav-link {
      &:hover {
        background-color: v.$bg-hover-color-gray;
        border-radius: 10px;
      }

      span {
        margin: 0px;
        font-weight: 400;
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        display: block;
      }
    }
  }
}
